{% extends "../master.html" %}
{% block title %}Cast Vote{% endblock %}
{% load static %}

{% block css%}

{% endblock %}

{% block content %}
    <div class="container-fluid " style="position: absolute;">
        <div class="row "  id="typed-strings">
            <h2 class="text-center text-uppercase p-2 ">Election Commesion Pakistan</h2>
            <h5 class="text-center">Free Fair Election</h5>
            
        </div>
        <p id="typed"></p>

    </div>


    <div class="container" style="margin-top: 150px;">
        <div class="row">
            <div class="col wow slideInRight">
                <div class="container border p-3">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Its your right to vote</li>
                                <li>Click on symbol whom candidate you want to vote.</li>
                                <li>Its one time selection.</li>
                                <li>Don,t touch any instrument.</li>
                                <li>Follow Instructions and click on cast vote.</li>
                                <li>After click camera will be open please show complete face in front of camera. </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul style="list-style-type: none;">
                                <li>ووٹ دیں یہ آپ کا حق ہے</li>
                                <li>اس علامت پر کلک کریں کہ آپ کس امیدوار کو ووٹ دینا چاہتے ہیں۔</li>
                                <li>اس کا ایک وقت کا انتخاب ہے۔</li>
                                <li>کسی بھی آلے کو ہاتھ نہ لگائیں</li>
                                <li>ہدایات پر عمل کریں اور کاسٹ ووٹ پر کلک کریں۔</li>
                                <li>کلک کرنے کے بعد کیمرہ کھلا رہے گا براہ کرم کیمرے کے سامنے مکمل چہرہ دکھائیں۔</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                  <div class="row">
                      <div class="col offset-md-3 border p-3">
                        <ul>
                            <li class="wow slideInRight">Choose wisely</li>
                            <li class="wow slideInRight">Its your right</li>
                            <li class="wow slideInRight">Ballet Paper is one time selection.Please be carefull.</li>
                        </ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    <div class="container p-3">
        <div id="btntxt">
            <p>Cast Vote</p>
        </div>
        
        
        <a href="/capture" class="btn btn-lg btn-success float-end"><span id="btntxttype"></span></a>
    </div>
        
    </div>
   
      







    {% endblock%}