{% extends "../master.html" %}
{% block title %}Check Registration{% endblock %}
{% load static %}

{% block css%}

{% endblock %}

{% block content %}

<div class="container-fluid " style="position: absolute;">
    <div class="row "  id="typed-strings">
        <h2 class="text-center text-uppercase p-2 ">Please Enter</h2>
        <h5 class="text-center">Your</h5>
        <h5>CNIC For For Check Registration</h5>
        
    </div>
    <p id="typed" class="p-3 ml-5"></p>

</div>

<div class="container  " style="margin-top:30vh;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} p-3" {% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'ckeckreg' %}" method="post">
        {% csrf_token %}
        
        <div class="form-row">
        <div class="row">
          <div class="col-md-6 offset-md-2">
            <input type="text"  data-inputmask="'mask': '99999-9999999-9'"  placeholder="XXXXX-XXXXXXX-X" class="form-control" name="cnic">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-2" style="background-color: green; color:white;">Confirm </button>
          </div>
        </div>
        </div>
      </form>
    
</div>



{% endblock %}

{%block jss%}

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script>
  $(":input").inputmask();

 </script>
{% endblock %}

