{% extends "../master.html" %}
{% block title %}downloads{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid bg-warning">
    <h2 class="text-center p-3">Download</h2>
</div>

<div class="container p-5">
    <h3 class="p-3"> Forms for use during current periodical revision of Electoral Rolls:</h3>

    <h3 class="p-2">ECP Forms</h3>
    <ul>
        <li><a href="/uploads/form/Form_13_Urdu_Final.pdf">Form 13 (For General Public) </a></li>
        <li><a href="/uploads/form/Form_14_Urdu_Final.pdf">Form 14 (For Government Servants)</a></li>
       
    </ul>

    <h3 class="p-2">VOTER FORMS:</h3>
    <ul>
        <li><a href="/uploads/form/Form_21_Final.pdf">Form 21: For Registration / Transfer of Vote</a></li>
        <li><a href="/uploads/form/Form_22_Final.pdf">Form 22: For Objection / Deletion of Vote</a></li>
        <li><a href="/uploads/form/Form_23_Final.pdf">Form 23: For Correction of Particulars</a></li>
    </ul>
</div>

<div class="container p-5">
    <img src="{% static 'images/ann.png'%}" alt="" srcset="">
</div>

{% endblock %}