{% extends "../master.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row p-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/box1.jpg'%}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Latest Updates</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="/updates">Click for Latest Updates.</a></li>
                            <li><a href="/regestration">Voter Registration.</a></li>
                            <li><a href="/castvote">Cast Vote.</a></li>
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/news.png'%}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Featued News</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="#">Featured News.</a></li>
                            <li><a href="#">List Of News.</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/box1.jpg'%}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Past Elections</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="#">List Of Past Elections.</a></li>
                            <li><a href="#">Result Of Past Elections..</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
    </div> 

    <div class="row p-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/contactus.jpg'%}" class="img-fluid rounded-start" alt="..." height="100px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Contact Us</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="#">xyz@gmail.com</a></li>
                            <li><a href="#">00360030909.</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/ecp-logo.jpg'%}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">About ECP</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="#">OverView Of ECP</a></li>
                            <li><a href="#">Honerable ECP.</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/box1.jpg'%}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">For Voters</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="/instructions">How To Register</a></li>
                            <li><a href="#">Check Your Registration.</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
    </div> 

    <div class="row p-5">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/partiess.jpg'%}" class="img-fluid rounded-start" alt="..." height="100px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Parties & Candidates.</h5>
                      <p class="card-text">
                        <ul class="a">
                            <li><a href="#">List Of Polatical Parties.</a></li>
                            <li><a href="#">List Of Symbols.</a></li>
                            <li><a href="#">List Of Candidates.</a></li>
                            
                          </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
        
        
    </div> 
</div>
{% endblock %}