{% extends "../master.html" %}
{% block title %}Instructions{% endblock %}
{% load static %}
{% block content %}

<div class="container p-5 mt-2">
    <div class="row">
        <div class="col p-3">

            <h4 class="p-3 text-muted text-uppercase " >Instructions (Guide For New Voter).</h4>
            
            <div class="p-3">
              <p class="wow slideInRight bolder">Are you ready for vote for first time.</p>
            <ul>
                <li><p class="wow slideInRight">Fill all blanks (Don,t left anybox otherwise application won,t be submit).</p></li>
                <li><p class="wow slideInRight" >Please make sure are you a Pakastani Citizen.</p> 
                    <div class="custom-control custom-radio custom-control-inline wow slideInRight">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline wow slideInRight">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                </li>
        <div class="col ">
                <li><p class="wow slideInRight">Write Proper Name,CNIC,Date Of Birth</p></li>
                <li><p class="wow slideInRight">Fill proper seat data in ehich seat you belong to.(MA , MPA)</p></li>
                <li><p class="wow slideInRight">Upload Your Clean Passport Size Image Having White Background.</p></li>
            </ul>
          </div>
        </div>
        <div class="col">
            <h4 class="p-3 text-muted text-uppercase ">.ہدایات (نئے ووٹر کے لئے رہنمائی)</h4>
            <div class="p-3">
            <p class="wow slideInRight">کیا آپ پہلی بار ووٹ کے لئے تیار ہیں۔.</p>
            <ul>
                <p class="wow slideInRight">تمام خالی جگہیں پر کریں (کوئی بھی باکس نہ چھوڑیں ورنہ درخواست جیت جائے گی، جمع نہیں ہوگی).</p></li>
                <p class="wow slideInRight" >براہ کرم اس بات کو یقینی بنائیں کہ کیا آپ پاکستانی شہری ہیں۔

                   </p> 
                    <div class="custom-control custom-radio custom-control-inline wow slideInRight">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">ہاں</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline wow slideInRight">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">نہيں</label>
                      </div>
                
        <div class="col">
                <p class="wow slideInRight">صحیح نام، سی این آئی سی، تاریخ پیدائش لکھیں</p>
                <p class="wow slideInRight">آپ کا تعلق ایچیچ سیٹ میں مناسب سیٹ ڈیٹا پر کریں۔ (ایم اے ، ایم پی اے)</p>
                <p class="wow slideInRight">سفید پس منظر رکھنے والی اپنی صاف پاسپورٹ سائز تصویر اپ لوڈ کریں۔</p>
            </ul>
           
        </div>
        <a href="{% url 'reg_formc'%}" class="btn" style="background-color: green; color:white;">Go To Registration</a>
      </div>
    </div>
</div>





{% endblock %}