{% extends "../master.html" %}
{% block title %}Symbols{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid bg-warning">
    <h2 class="text-center p-3">List Of Parties</h2>
</div>
<div class="container p-4">
    {% for i in symbol %}
    <div class="container mt-2">
        
        <div class="d-flex border p-3">
            <img src="{{i.symbolImage.url}}" alt="John Doe"
                 class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">
            <div>
                <h4>{{i.symbolName}} <small>(Party Symbol)</small></h4>
                
            </div>
        </div>
        </div>
    {% endfor %}    
</div>
{%endblock%}