{% extends "../master.html" %}
{% block title %}News{% endblock %}
{% block content %}
<div class="container-fluid bg-warning">
    <h2 class="text-center p-3">News</h2>
</div>


{% for i in news%}
<div class="container p-5 rounded mt-3" style="background:#F8F9FA;">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <!-- <i class="fas fa-newspaper fa-4x rounded"></i> -->
          <a href="/newsdetail/{{i.id}}"><img src="{{i.image.url}}" alt="..." style="height:150px; width:150px;"></a>
        </div>
        <a href="/newsdetail/{{i.id}}" class="text-decoration-none text-dark"><div class="flex-grow-1 ms-3">
           {{i.content}}.</div></a>
         
        </div>
        <small class="p-4"><i class="far fa-calendar-alt p-2"></i>{{i.datetime}}</small>
      </div>
</div>
{%endfor%}


{% endblock %}