{% extends "../master.html" %}
{% block title %}About Parties{% endblock %}
{% block content %}
<div class="container-fluid bg-warning">
    <h2 class="text-center p-3">About Parties</h2>
</div>

<div class="container p-5">
    <ul>
        <li><a href="#">List of parties 2015</a></li>
        <li><a href="#">List of parties 2016</a></li>
        <li><a href="#">List of parties 2017</a></li>
        <li><a href="#">List of parties 2018</a></li>
        <li><a href="#">List of parties 2019</a></li>
    </ul>
</div>

{% endblock %}