{% extends "../index1.html" %}

{% block title %}Add Election{% endblock %}
{% block content %}
<div class="container p-5">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} p-3" {% endif %} >{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
<form action="{% url 'addelection' %}" method="POST">
  {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlSelect1">Election Type</label>
        <select class="form-control" id="exampleFormControlSelect1" name="election">
          <option value="general">General Elections</option>
          <option value="local">Local Bodies</option>
       
        </select>
      </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Date Of Election</label>
      <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="start" name="start">
    </div>

    
    <div class="form-group">
        <label for="exampleInputPassword1">End Date</label>
        <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="start" name="end">
      </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Election Rules</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="rules"></textarea>
      </div>

    
    <button type="submit" class="btn " style="background-color: green; color:white;">Submit</button>
</form>
</div>
{% endblock %}