{% extends "../index1.html" %}

{% block title %}Add Seat{% endblock %}
{% block content %}

<div class="container p-5">
    <form>
        <!-- <div class="form-group">
            <label for="exampleInputPassword1">Seat</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div> -->
        <div class="form-group">
            <label for="exampleFormControlSelect1">Seat</label>
            <select class="form-control" id="exampleFormControlSelect1">
              {%for s in seat%}
              <option value={{s}}}>{{s}}</option>
              {%endfor%}
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Candidate</label>
            <select class="form-control" id="exampleFormControlSelect1">
              {%for c in candidate%}
              <option value={{c}}>{{c}}</option>
              {%endfor%}
        
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Party</label>
            <select class="form-control" id="exampleFormControlSelect1">
              {%for p in parties %}
              <option value={{p}}>{{p}}</option>
              {%endfor%}
  
            </select>
        </div>
    
        
       

          
        

           
          
    
        
        <button type="submit" class="btn " style="background-color: green;color:white;">Add</button>
    </form>
    </div>

{% endblock %}